@media only screen and (min-width: 0px) {
  #logo{
    width:60px;
  }
}

body{
  scroll-behavior: smooth;
}



@media only screen and (min-width: 600px) {
  #logo{
    width:70px;
  }
}


@media only screen and (min-width: 900px) {
  #logo{
    width:90px;
  }
}

@media only screen and (min-width: 1200px) {
  #logo{
    width:150px;
  }
  .headerButton{
    width:100%;
  }
}

.motionDiv{
  height:100%;
}

.progress-bar {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  height: 10px;
  background: black;
  transform-origin: 0%;
}

.horizontalSection {
  position:relative;
  height:300vh;
  z-index: 3;

  
}

@media only screen and (min-width: 1200px) {
  .carousel-div{
      position:sticky;
      display:flex;
      top:0;
      overflow:hidden;
      overflow-x:hidden;
      justify-content: center;
      height: 100vh;
      z-index: 3;

  }
}


@media only screen and (min-width: 1536px) {
  .carousel-div{
      position:sticky;
      display:flex;
      top:0;
      overflow:hidden;
      overflow-x:hidden;
      justify-content: center;
      background-color:white;
      height: 100vh;
      z-index: 3;

  }
}



    




.horizontalMotionDiv{
  display:flex;
  height:inherit;
  align-items: center;
  z-index: 3;

}

.carousel-text{
  color:white;
}

body {
  overflow-x: hidden;
}

